/* ========== HOME ========== */
/* -- SLIDER -- */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 250px;
  width: 100%;
  object-fit: cover;
}

/* Buttons */
.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 50%;

  cursor: pointer;
  margin: 10px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: black;
  box-shadow: rgba(79, 86, 89, 0.2) 0px 7px 29px 0px;
}

/* -- SLIDER -- */
/* -- HOME - ABOUT -- */
.home-about-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 3rem auto 2rem;
}

.home-about-image {
  width: 75%;
  margin: auto;
  height: 210px;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 2rem;
}

.home-about-image img {
  width: 100%;
  margin: auto;
  height: min-content;
}

.home-about-text {
  text-align: center;
}

.home-about-text h2 {
  padding-bottom: 0.6rem;
}

.home-about-text p {
  color: var(--darkGray);
}

.home-about-text button {
  background-color: var(--transpatentBlack);
  color: white;
  border: 1px solid var(--transpatentBlack);
  font-size: 1rem;
  padding: 6px 10px;
  margin-top: 0.8rem;
  border-radius: 4px;
}

.home-about-text button:hover {
  background-color: transparent;
  color: black;
  transition: all 0.35s ease-in-out;
}

.home-about-additional-text {
  display: none;
}
/* -- HOME - ABOUT -- */
/* -- FULL IMAGE -- */
.home-friends-full-seperator {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 3rem 0;
}

.home-friends-full-seperator > img {
  width: 100%;
  height: min-content;
  margin-top: -20px;
}
/* -- FULL IMAGE -- */
/* ====== MEDIA QUERIES ====== */
/* Best Practice suggests */
/* keep default style for smallest screen size (portrait mobile, below 576px) */
/* and then proceed in assending order with media query like below */

/* Small devices (landscape phones, 576px and above till next break point) */
@media (min-width: 576px) {
  .slide {
    height: 500px;
  }

  /* -- HOME ABOUT -- */
  .home-about-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .home-about-image {
    width: 45%;
    height: fit-content;
    max-height: 300px;
    margin: unset;
  }

  .home-about-image img {
    width: 100%;
    height: min-content;
  }

  .home-about-text {
    width: 50%;
    text-align: left;
  }

  .home-about-text h2 {
    font-size: 1.9rem;
  }

  .home-about-text p {
    color: var(--darkGray);
    line-height: 1.5rem;
  }

  .home-about-text button {
    font-size: 1.2rem;
    padding: 8px 16px;
    margin-top: 1rem;
    border-radius: 6px;
  }
  /* -- HOME ABOUT -- */
  /* -- FULL IMAGE -- */
  .home-friends-full-seperator {
    height: 250px;
  }

  .home-friends-full-seperator > img {
    margin-top: -30px;
  }
  /* -- FULL IMAGE -- */
}

/* Medium devices (tablets, 768px and above till next break point) */
@media (min-width: 768px) {
  .slide {
    height: 650px;
  }

  .home-about-container {
    height: 300px;
  }

  .home-about-image {
    width: 40%;
  }

  .home-about-image img {
    max-width: 350px;
  }

  .home-about-text {
    width: 58%;
    text-align: left;
  }

  .home-about-additional-text {
    display: flex;
  }

  /* -- FULL IMAGE -- */
  .home-friends-full-seperator {
    height: 320px;
  }

  .home-friends-full-seperator > img {
    margin-top: -40px;
  }
  /* -- FULL IMAGE -- */
}

/* Large devices (desktops, 992px and above till next break point) */
@media (min-width: 992px) {
  .home-about-image {
    width: 40%;
  }

  .home-about-image img {
    max-width: 350px;
  }

  .home-about-text {
    width: 58%;
    text-align: left;
  }

  .home-about-additional-text {
    padding-top: 0.5rem;
  }

  /* -- FULL IMAGE -- */
  .home-friends-full-seperator {
    height: 350px;
  }

  .home-friends-full-seperator > img {
    margin-top: -55px;
  }
  /* -- FULL IMAGE -- */
}

/* Very large devices (desktops, 1200px and above till next break point) */
@media (min-width: 1200px) {
  .home-about-container {
    justify-content: space-evenly;
  }
  .home-about-image {
    width: 40%;
    text-align: right;
  }

  .home-about-text {
    width: 50%;
  }

  .home-about-text p {
    line-height: 1.8rem;
  }

  /* -- FULL IMAGE -- */
  .home-friends-full-seperator {
    height: 450px;
  }

  .home-friends-full-seperator > img {
    margin-top: -90px;
  }
  /* -- FULL IMAGE -- */
}

/* Very large devices (desktops, 1500px and above till next break point) */
@media (min-width: 1500px) {
  .slide {
    height: 700px;
  }

  .home-about-text h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .home-about-text p {
    font-size: 1.1rem;
    color: var(--darkGray);
  }
  /* -- FULL IMAGE -- */
  .home-friends-full-seperator {
    height: 500px;
  }

  .home-friends-full-seperator > img {
    margin-top: -120px;
  }
  /* -- FULL IMAGE -- */
}
/* ====== MEDIA QUERIES ====== */
/* ========== HOME ========== */
