/* ========== NAVBAR ========== */
header {
  width: 100%;
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
}

header > section {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header > section > a > img {
  width: 7rem;
  height: 4.5rem;
  align-items: center;
}

header > section > nav {
  display: none;
}

header > section #hidden {
  display: flex;
  position: absolute;
  right: 0;
  top: 100px;
  height: calc(100% - 100px);
  width: 65%;
  background-color: var(--transpatentBlack);
  z-index: 10;
  flex-direction: column;
}

header > section #hidden > a {
  color: white;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: center;
  padding: 1rem;
}
/* ========== NAVBAR ========== */
/* ====== MEDIA QUERIES ====== */
/* Best Practice suggests */
/* keep default style for smallest screen size (portrait mobile, below 576px) */
/* and then proceed in assending order with media query like below */

/* Small devices (landscape phones, 576px and above till next break point) */
@media (min-width: 576px) {
  header > section > a > img {
    width: 10rem;
    height: 5.8rem;
    align-items: center;
  }

  header > section > nav {
    display: flex;
    position: unset;
  }

  header > section > nav > a {
    color: white;
    margin-left: 1.5rem;
    font-size: 1rem;
  }

  .nav-toggle {
    display: none;
  }
}

/* Medium devices (tablets, 768px and above till next break point) */
@media (min-width: 768px) {
  header > section > nav > a {
    font-size: 1.2rem;
  }
}

/* Large devices (desktops, 992px and above till next break point) */
@media (min-width: 992px) {
}

/* Very large devices (desktops, 1200px and above till next break point) */
@media (min-width: 1200px) {
}

/* Very large devices (desktops, 1500px and above till next break point) */
@media (min-width: 1500px) {
}
